*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url(image/bg1.jpg);
    font-family: 'Metal Mania', cursive;
}

.container{
    width: 70%;
    margin: auto;
    text-align: center;
}

.dice{
    text-align: center;
    display: inline-block;
}

h1{
    margin: 30px;
    text-shadow: 5px 2px white;
    font-size: 6rem;
    color: #f6b93b;
}

p{
    margin: 20px;
    font-size: 2rem;
    color: #00b894;
    text-shadow: 1px 1px white;
}

button{
    font-size: 25px;
    padding: 20px;
    margin: 40px;
    background-color: #00b894;
    color: white;
    border: none;
}

img{
    width: 80%;
}

